<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <!-- 绑定radio -->
  <div id='app'>
    <label for="man">
      <input type="radio" id="man" value="男" v-model="gender">男
    </label>
    <label for="woman">
      <input type="radio" id="woman" value="女" v-model="gender">女
    </label>
    <h2>你的性别是:{{gender}}</h2>
  </div>
  <script src='../js/vue.js'></script>
  <script>
    const app = new Vue({
      el: '#app',
      data: {
        gender: '男'
      }
    })
  </script>
</body>

</html>