{
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:vue/essential"
  ],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parserOptions": {
    "ecmaVersion": 11,
    "sourceType": "module"
  },
  "plugins": [
    "vue"
  ],
  "rules": {
    // 0不检查 1警告 2报错
    "no-console": 0, // 不检查console
    "eqeqeq": 2, // 用==而不用===就报错
    "no-alert": 2 // 不能使用alert
  }
}